# {{ ansible_managed }}

{%if not openvpn_static %}
client
{% endif %}
{% if openvpn_complzo %}
comp-lzo
{% endif %}
{% if openvpn_daemon %}
daemon
{% endif %}
dev {{ openvpn_dev }}
{% if openvpn_secextra %}
group {{ openvpn_group }}
{% endif %}
{% if openvpn_static %}
ifconfig {{ openvpn_clientifconfig }}
{% endif %}
{% if openvpn_keepalive %}
keepalive {{ openvpn_keepalive }}
{% endif %}
{% if openvpn_client %}
nobind
auth-nocache
{% endif %}
{% if openvpn_nscerttype %}
ns-cert-type {{ openvpn_nscerttype }}
{% endif %}
{% if openvpn_persistkey %}
persist-key
{% endif %}
{% if openvpn_persisttun %}
persist-tun
{% endif %}
{% if openvpn_pingtimerrem %}
ping-timer-rem
{% endif %}
{% if not openvpn_client %}
proto {{ openvpn_proto }}
{% endif %}
{% if openvpn_pull and not openvpn_static %}
pull
{% endif %}
{% if openvpn_static %}
secret {{ openvpn_secretfile }}
{% endif %}
remote {{ openvpn_remotehost }} {{ openvpn_remoteport }} {{ openvpn_remoteproto }}
{% if openvpn_resolvretry %}
resolv-retry {{ openvpn_resolvretry }}
{% endif %}
{% if not openvpn_static %}
tls-client
{% endif %}
{% if openvpn_secextra %}
user {{ openvpn_user }}
{% endif %}
{% if openvpn_verb %}
verb {{ openvpn_verb }}
{% endif %}
{% if not openvpn_static %}
{% if openvpn_clientkey %}
<key>
-----BEGIN RSA PRIVATE KEY-----
{{ openvpn_clientkey }}
-----END RSA PRIVATE KEY-----
</key>
{% endif %}
{% if openvpn_clientcertificate %}
<cert>
-----BEGIN CERTIFICATE-----
{{ openvpn_clientcertificate }}
-----END CERTIFICATE-----
</cert>
{% endif %}
{% if openvpn_cacertificate %}
<ca>
-----BEGIN CERTIFICATE-----
{{ openvpn_cacertificate }}
-----END CERTIFICATE-----
</ca>
{% endif %}
{% if openvpn_tlsauth %}
tls-auth {{ openvpn_tafile }} 1 
{% endif %}
{% if openvpn_dhkey %}
<dh>
-----BEGIN DH PARAMETERS-----
{{ openvpn_dhkey }}
-----END DH PARAMETERS-----
</dh>
{% endif %}
key-direction 1
{% endif %}
{% if openvpn_renegsec and not openvpn_static %}
reneg-sec {{ openvpn_renegsec }}
{% endif %}

