# {{ ansible_managed }}

{%if not openvpn_static %}
client
tls-client
{% endif %}
{% if openvpn_daemon %}
daemon
{% endif %}
dev {{ openvpn_dev }}
user {{ openvpn_user }}
group {{ openvpn_group }}
{% if openvpn_static %}
ifconfig {{ openvpn_clientifconfig }}
{% endif %}
{% if openvpn_keepalive %}
keepalive {{ openvpn_keepalive }}
{% endif %}
{% if openvpn_complzo %}
comp-lzo
{% endif %}
{% if openvpn_client %}
nobind
auth-nocache
{% endif %}
{% if openvpn_nscerttype %}
ns-cert-type {{ openvpn_nscerttype }}
{% endif %}
{% if openvpn_persistkey %}
persist-key
{% endif %}
{% if openvpn_persisttun %}
persist-tun
{% endif %}
{% if not openvpn_client %}
proto {{ openvpn_proto }}
{% endif %}
{% if openvpn_pull and not openvpn_static %}
pull
{% endif %}
{% if openvpn_static %}
secret {{ openvpn_secretfile }}
cipher {{ openvpn_cipherstatic }}
{% endif %}
remote {{ openvpn_remotehost }} {{ openvpn_remoteport }} {{ openvpn_remoteproto }}
{% if openvpn_resolvretry %}
resolv-retry {{ openvpn_resolvretry }}
{% endif %}
{% if openvpn_client and not openvpn_static %}
cipher {{ openvpn_ciphertls }}
reneg-sec {{ openvpn_renegsec }}
{% endif %}
{% if openvpn_verb %}
verb {{ openvpn_verb }}
mute {{ openvpn_mute }}
{% endif %}
{% if not openvpn_static %}
{% if openvpn_clientkey %}
<key>
-----BEGIN RSA PRIVATE KEY-----
{{ openvpn_clientkey }}
-----END RSA PRIVATE KEY-----
</key>
{% endif %}
{% if openvpn_clientcertificate %}
<cert>
-----BEGIN CERTIFICATE-----
{{ openvpn_clientcertificate }}
-----END CERTIFICATE-----
</cert>
{% endif %}
{% if openvpn_cacertificate %}
<ca>
-----BEGIN CERTIFICATE-----
{{ openvpn_cacertificate }}
-----END CERTIFICATE-----
</ca>
{% endif %}
{% if openvpn_dhkey %}
<dh>
-----BEGIN DH PARAMETERS-----
{{ openvpn_dhkey }}
-----END DH PARAMETERS-----
</dh>
{% endif %}
{% if openvpn_tlsauthkey %}
<tls-auth>
-----BEGIN OpenVPN Static key V1-----
{{ openvpn_tlsauthkey }}
-----END OpenVPN Static key V1-----
</tls-auth>
key-direction 1
{% endif %}
{% endif %}
