# {{ ansible_managed }}

{%if not openvpn_static %}
mode server
tls-server
{% endif %}
{% if openvpn_daemon %}
daemon
{% endif %}
dev {{ openvpn_dev }}
proto {{ openvpn_proto }}
port {{ openvpn_remoteport }}
{% if openvpn_static %}
ifconfig {{ openvpn_serverifconfig }}
{% endif %}
{% if not openvpn_static %}
server {{ openvpn_serversubnet }} {{ openvpn_serversubnetmask }}
topology subnet
push "topology subnet"
{% endif %}
{% if not openvpn_static and openvpn_dhcpoptiondns %}
{% for dns in openvpn_dhcpoptiondns %}
push "dhcp-option DNS {{ dns }}"
{% endfor %}
{% endif %}
{% if not openvpn_static and openvpn_redirectgateway %}
push "redirect-gateway def1 bypass-dhcp"
{% endif %}
{% if openvpn_ifconfigpoolpersist and not openvpn_static %}
ifconfig-pool-persist {{ openvpn_ifconfigpoolpersist }}
{% endif %}
{% if openvpn_keepalive %}
keepalive {{ openvpn_keepalive }}
{% endif %}
user {{ openvpn_user }}
group {{ openvpn_group }}
{% if openvpn_complzo %}
comp-lzo
{% endif %}
{% if openvpn_persistkey %}
persist-key
{% endif %}
{% if openvpn_persisttun %}
persist-tun
{% endif %}
{% if openvpn_static %}
secret {{ openvpn_secretfile }}
{% endif %}
{% if openvpn_status %}
status {{ openvpn_status }}
{% endif %}
{% if openvpn_static %}
cipher {{ openvpn_cipherstatic }}
{% endif %}
{% if openvpn_server and not openvpn_static %}
cipher {{ openvpn_ciphertls }}
{% endif %}
auth-nocache
{% if openvpn_verb %}
verb {{ openvpn_verb }}
mute {{ openvpn_mute }}
{% endif %}
{% if not openvpn_static %}
{% if openvpn_serverkey %}
<key>
-----BEGIN RSA PRIVATE KEY-----
{{ openvpn_serverkey }}
-----END RSA PRIVATE KEY-----
</key>
{% endif %}
{% if openvpn_servercertificate %}
<cert>
-----BEGIN CERTIFICATE-----
{{ openvpn_servercertificate }}
-----END CERTIFICATE-----
</cert>
{% endif %}
{% if openvpn_cacertificate %}
<ca>
-----BEGIN CERTIFICATE-----
{{ openvpn_cacertificate }}
-----END CERTIFICATE-----
</ca>
{% endif %}
{% if openvpn_tlsauthkey %}
<tls-auth>
-----BEGIN OpenVPN Static key V1-----
{{ openvpn_tlsauthkey }}
-----END OpenVPN Static key V1-----
</tls-auth>
key-direction 0
{% endif %}
{% if openvpn_dhkey %}
<dh>
-----BEGIN DH PARAMETERS-----
{{ openvpn_dhkey }}
-----END DH PARAMETERS-----
</dh>
{% endif %}
{% endif %}
